.contact__section {
    /* border-bottom: ; */
    -webkit-box-shadow: 0px 6px 32px 11px #dddddd;
    -moz-box-shadow: 0px 6px 32px 11px #dddddd;
    box-shadow: 0px 6px 32px 11px #dddddd;
}
.bg__color__white {
    background-color: #e6e5e5d0;
}
.image__round{
        border-radius: 30px;
         margin-bottom: 30px;
}
.btn_color_pink {
    background-color: var(--primary-color) !important;
    color: #fff;
    border: 1px solid var(--primary-color);
}

.btn_color_pink:hover {
    background-color: var(--primary-color) !important;
    color: #fff;
    border: 1px solid #f25476 !important;
    box-shadow: 1px 1px 1px 1px #f25476;
}

.btn_color_pink:active {
    background-color: var(--primary-color) !important;
    color: #fff;
    border: 1px solid #e9385f !important;
    /* box-shadow: 1px 1px #888888; */
}
.custom__mt-7rem{
    margin-top: 7rem !important;
}